/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --font-family: 'IBM Plex mono', Arial, sans-serif;
  --page-background-image: url(../images/cover-image-dark.png);
  --page-background-color: #000028;
  --text-color: #F1B2CE;
  --accent-color: #FF0070;
  --header-title-color: #DB00FF;
  --decor-color: #000028;
  --bg-title-color: #FF0070;
  --REC: flex;
  --accent-color-transparent: rgba(255, 0, 112, 0.4);
}