/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: var(--page-background-image);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--page-background-color);
  font-family: var(--font-family);
  font-size: 18px;
  line-height: 23.4px;
  color: var(--text-color)

}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  position: relative;
  block-size: 100vh;
  min-block-size: 668px;
  padding: 10px;
}

.header_rec {
  display: var(--rec);
  position: absolute;
  top: 10px;
  right: 38px;
  color: var(--accent-color);
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  text-transform: uppercase;
}

.header_rec::after {
  display: var(--REC);
  content: "";
  position: absolute;
  top: 8px;
  left: 40px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.header__theme-menu {
  justify-self: flex-end;
  align-self: center;
  grid-row: 1;
  grid-column: 1;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 11px;
  list-style: none;
}

.header__theme-menu-button {
  color: var(--accent-color);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
  border: none;
  padding: 3px 13px;
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--accent-color-transparent);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--accent-color);
}

.header_title {
  align-self: center;
  justify-self: center;
  grid-row: 2;
  grid-column: 1;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  color: var(--header-title-color);
  text-shadow: 4px 4px 0 var(--bg-title-color);
}

.header_content {
  grid-column: 1;
  grid-row: 3;
  align-self: center;
  justify-self: center;
  max-inline-size: 355px;
}

.title-decor {
  background-color: var(--bg-title-color);
  color: var(--decor-color);
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
}

.content {
  font-family: var(--font-family);
  font-size: 18px;
  line-height: 23.4px;
  padding: 0 10px;
}

.title-section {
  font-family: var(--font-family);
  font-size: 18px;
  line-height: 23.4px;
  color: var(--accent-color);
}

.reasons_title {
  margin-block-start: 40px;
}

.content_list {
  margin-block-start: 20px;
}

.content_text {
  padding-block-start: 10px;
}

.content_item {
  margin-block-end: 20px;
}

.distractors_title {
  margin-block-start: 50px;
}

.solutions_title {
  margin-block-start: 50px;
}

.title-articles {
  margin-block-start: 20px;
}

.solution_title {
  font-weight: 400;
  margin-block-start: 20px;
}

.text_link {
  text-shadow: 2px 2px 0 var(--bg-title-color);
  text-decoration: none;
}

.text_link:hover {
  border-bottom: 1px solid currentColor;
}

.text_link:focus {
  outline: none;
}

.text_link:focus-visible {
  outline: 1px solid currentColor;
}

.pictures {
  margin-block-start: 50px;
  padding: 0 10px;
}

.title_pictures {
  margin-block-end: 10px;
}

.pictures_container {
  display: grid;
  grid-template-columns: minmax(min-content, max-content);
  gap: 10px;
  inline-size: 100%;
  max-inline-size: 100%;
  margin-block-end: 40px;
}

.pictures_img {
  inline-size: 100%;
  max-inline-size: 100%;
  block-size: auto;
  display: block;
  object-fit: cover;
}

.footer {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  block-size: 100vh;
  min-block-size: 668px;
  padding: 10px;
}

.footer_title {
  align-self: center;
  justify-self: center;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  color: var(--header-title-color);
  text-shadow: 2px 2px 0 var(--accent-footer-color);
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
}

@media (width >= 768px) {
  .header {
    grid-template-rows: 1fr auto 1fr;
    min-block-size: 1024px;
  }

  .header_rec {
    top: 20px;
    right: 48px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .header__theme-menu {
    padding-inline-end: 10px;
    padding-block-start: 7px;
  }

  .header_title {
    margin-inline-start: -10px;
    justify-self: self-start;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header_content {
    justify-self: flex-end;
    max-inline-size: 372px;
    padding-block-end: 10px;
    padding-inline-end: 10px;
  }

  .content {
    padding: 0 20px;
  }

  .reasons {
    margin-block-start: 40px;
    display: grid;
    grid-template-columns: minmax(min-content, 236px) 1fr;
    gap: 20px;
  }

  .reasons_title {
    align-self: flex-start;
    margin-block-start: 20px;
  }

  .distractors_title {
    margin-block-start: 60px;
    max-width: 230px;
  }

  .solutions {
    margin-block-start: 48px;
    display: grid;
    grid-template-columns: minmax(min-content, 240px) 1fr;
    gap: 15px;
  }

  .solutions_title {
    grid-column: 1;
    grid-row: 1/ span 2;
    margin-block-start: 30px;
    max-inline-size: 236px;
  }

  .solution_title {
    margin-block-start: 0;
  }
  
  .title-articles {
    margin-block-start: 35px;
    height: 23px;
  }

  .solutions .content_list {
    margin-block-start: 0px;
    grid-column: 2;
    grid-row: 2;
  }

  .pictures {
    margin-block-start: 60px;
    padding: 0 20px;
  }

  .pictures_container {
    margin-block-start: 20px;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .pictures_img {
    block-size: 100%;
    object-fit: cover;
  }

  .sunset {
    grid-column: 1/3;
    grid-row: 1/2;
  }

  .ice-cream {
    grid-column: 3;
    grid-row: 1/3;
  }

  .tape {
    grid-column: 1;
    grid-row: 2/4;
  }

  .street {
    grid-column: 2/4;
    grid-row: 3;
  }

  .footer {
    padding: 0 20px;
    margin-block-start: 60px;
  }

  .footer_title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
  }


@media (width >= 1024px) {
  .header {
    grid-template-rows: 1fr auto 1fr;
    min-block-size: 768px;
  }

  .header__theme-menu {
    align-self: flex-start;
    justify-self: center;
  }

  .header__theme-menu-list {
    flex-direction: row;
    gap: 10px;
    padding-block-start: 2px;
    padding-inline-start: 10px;
  }

  .header_title {
    justify-self: self-start;
    justify-items: flex-start;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header_content {
    justify-self: flex-end;
    max-inline-size: 500px;
    padding-block-end: 10px;
    padding-inline-end: 10px;
  }

  .content {
    padding: 0 20px;
    margin: 0 auto;
  }

  .reasons {
    margin-block-start: 40px;
    display: grid;
    grid-template-columns: minmax(min-content, 315px) 1fr;
    gap: 20px;
  }

  .reasons_title {
    align-self: flex-start;
    margin-block-start: 20px;
  }

  .distractors .content_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px
  }

  .distractors_title {
    margin-block-start: 60px;
    max-width: 315px;
  }

  .solutions {
    margin-block-start: 30px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 12px;
  }

  .solutions_title {
    grid-column: 1;
    margin-block-start: 30px;
    max-inline-size: 100%;
  }

  .title-articles {
    margin-block-start: 30px;
  }

  .solutions .content_list {
    margin-block-start: 10px;
  }

  .pictures {
    padding: 0 20px;
    margin-block-start: 55px;
  }

  .pictures_container {
    margin-block-start: 20px;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px
  }

  .pictures_img {
    block-size: 100%;
    object-fit: cover;
  }

  .sunset {
    grid-column: 1/3;
    grid-row: 1/2;
  }

  .ice-cream {
    grid-column: 3;
    grid-row: 1/3;
  }

  .tape {
    grid-column: 1;
    grid-row: 2/4;
  }

  .street {
    grid-column: 2/4;
    grid-row: 3;
  }

  .footer {
    padding: 0 20px;
    margin-block-start: 60px;
  }

  .footer_title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

