/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --font-family: 'IBM Plex mono', Arial, sans-serif;
  --page-background-image: url(../images/cover-image-dark.png);
  --page-background-color: #000028; 
  --text-color: #F1B2CE; 
  --accent-color: #FF0070; 
  --header-title-color: #DB00FF; 
  --decor-color: #000028; 
  --bg-title-color: #FF0070;
  --rec: flex;
  --accent-color-transparent: rgba(255, 0, 112, 0.4);
  --accent-footer-color: #FF0070;
}
